<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily.errors.count, "error") %> prohibited this daily from being saved:</h2>
      <ul>
        <% @daily.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :uploader_id %><br>
      <%= current_user.username %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :location_id %>
      <%= f.select :location_id, "Select City": ['Bekescsaba','Kecskemet','Szeged','Szolnok'] %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :month %><br>
      <%= f.text_field :month, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :day  %><br>
      <%= f.number_field :day, {min: 1, max: 31} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :min %><br>
      <%= f.text_field :min, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :max %><br>
      <%= f.text_field :max, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :precipitation %><br>
      <%= f.text_field :precipitation, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :storm %>
      <%= f.check_box :storm %>
      <%= f.label :shower %>
      <%= f.check_box :shower %>
      <%= f.label :rain%>
      <%= f.check_box :rain %>
      <%= f.label :fog %>
      <%= f.check_box :fog %>
      <%= f.label :sleet %>
      <%= f.check_box :sleet %>
      <%= f.label :snow %>
      <%= f.check_box :snow %>
      <%= f.label :snow_shower %>
      <%= f.check_box :snow_shower %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :snow_cover %><br>
      <%= f.number_field :snow_cover, {min: 0, max: 100} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :note %><br>
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit t('global.forms.submit'), class: "btn btn-primary" %>
  </div>
<% end %>
