<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'global.messages.errors', count: daily.errors.count %></h2>
      <ul>
        <% @daily.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :uploader_id %><br>
      <%= current_user.username %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :location_id %>
      <%= f.select :location_id, "Select City": ['Békéscsaba','Kecskemét','Szeged','Szolnok'] %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :month %>
      <%= f.select :month, "Select month": ['Január','Február','Március','Április', 'Május', 'Június', 'Július',
      'Augusztus', 'Szeptember', 'Október', 'November', 'December'] %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :day  %>
      <%= f.number_field :day, {min: 1, max: 31} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :min %>
      <%= f.text_field :min, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :max %>
      <%= f.text_field :max, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :precipitation %>
      <%= f.text_field :precipitation, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :storm %>
      <%= f.check_box :storm %>
      <%= f.label :shower %>
      <%= f.check_box :shower %>
      <%= f.label :rain%>
      <%= f.check_box :rain %>
      <%= f.label :fog %>
      <%= f.check_box :fog %>
      <%= f.label :sleet %>
      <%= f.check_box :sleet %>
      <%= f.label :snow %>
      <%= f.check_box :snow %>
      <%= f.label :snow_shower %>
      <%= f.check_box :snow_shower %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :snow_cover %>
      <%= f.number_field :snow_cover, {min: 0, max: 100} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :note %>
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit t('global.forms.submit'), class: "btn btn-primary" %>
  </div>
<% end %>
