<%= flash_messages %>
<h2><%= t('data_page.dailies') %></h2>
<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.uploader_id') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.location_id') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.month') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.day') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.min') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.max') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.precipitation') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.snow_cover') %></th>
      <th class="col-md-2"><%= t('activerecord.attributes.daily.note') %></th>
      <th class="col-md-2, text-center" colspan="3"><%= t('data_page.options') %></th>
    </tr>
    </thead>
    <tbody>
    <% @dailies.each do |daily| %>
      <tr>
        <td class="col-md-2"><%= daily.uploader_id %></td>
        <td class="col-md-2"><%= daily.location_id %></td>
        <td class="col-md-2"><%= daily.month %></td>
        <td class="col-md-2"><%= daily.day %></td>
        <td class="col-md-2"><%= daily.min %></td>
        <td class="col-md-2"><%= daily.max %></td>
        <td class="col-md-2"><%= daily.precipitation %></td>
        <td class="col-md-2"><%= daily.snow_cover %></td>
        <td class="col-md-2"><%= daily.note %></td>
        <td class="col-md-2">
          <%= link_to link_to t('data_page.more'), daily_path(daily), class: "btn btn-info" %>
        </td>
        <td class="col-md-2">
          <%= link_to t('data_page.edit'), edit_daily_path(daily), class: "btn  btn-warning" %>
        </td>
        <td class="col-md-2">
          <%= link_to t('data_page.destroy'), daily_path(daily), method: :delete, data: { confirm: t('data_page.confirm') }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to t('data_page.new'), new_daily_path, class: "btn btn-primary" %>
