<%= flash_messages %>
<h2><%= t('data_page.showing') %></h2>

<p>
  <strong><%= t('activerecord.attributes.daily.uploader_id') %>:</strong>
  <%= @daily.uploader_id %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.location_id') %>:</strong>
  <%= @daily.location_id %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.month') %>:</strong>
  <%= @daily.month %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.day') %>:</strong>
  <%= @daily.day %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.min') %>:</strong>
  <%= @daily.min %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.max') %>:</strong>
  <%= @daily.max %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.precipitation') %>:</strong>
  <%= @daily.precipitation %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.storm') %>:</strong>
  <%= @daily.storm %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.shower') %>:</strong>
  <%= @daily.shower %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.rain') %>:</strong>
  <%= @daily.rain %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.fog') %>:</strong>
  <%= @daily.fog %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.sleet') %>:</strong>
  <%= @daily.sleet %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.snow') %>:</strong>
  <%= @daily.snow %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.snow_shower') %>:</strong>
  <%= @daily.snow_shower %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.snow_cover') %>:</strong>
  <%= @daily.snow_cover %>
</p>

<p>
  <strong><%= t('activerecord.attributes.daily.note') %>:</strong>
  <%= @daily.note %>
</p>

<%= link_to t('data_page.edit'), edit_daily_path(@daily), class: "btn btn-warning" %>
<%= link_to t('global.forms.back'), dailies_path, class: "btn btn-default" %>
